html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
p,
fieldset {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  line-height: 1.26;
}
@media (min-width: 28rem) {
  h1,
h2 {
    font-size: 1.75rem;
  }
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
  line-height: 1.57;
}
@media (min-width: 28rem) {
  p {
    font-size: 0.9375rem;
    line-height: 1.6;
  }
}

fieldset {
  border: none;
}

.btn {
  border-radius: 22.5px;
  font-size: 0.875rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  letter-spacing: 1.87px;
  line-height: 1.6;
  min-width: 17.5rem;
  padding: 0.75rem 6.75rem;
  text-transform: uppercase;
}
@media (min-width: 28rem) {
  .btn {
    font-size: 0.9375rem;
    letter-spacing: 2px;
    line-height: 1.26;
    min-width: 21.25rem;
    padding: 0.6875rem 8.625rem;
  }
}

.submit-btn {
  background-color: hsl(20, 100%, 41%);
  margin-bottom: 2rem;
}
.submit-btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(20, 100%, 41%);
  transition: all 0.3s ease 0s;
}
.submit-btn:focus {
  outline: 2px auto Highlight;
  outline: 2px auto -webkit-focus-ring-color;
}

.survey__text {
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
  line-height: 1.57;
  margin-bottom: 1.5rem;
  padding: 0;
  width: 280px;
}

.form-group-rating {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 17.5rem;
}
@media (min-width: 28rem) {
  .form-group-rating {
    margin-bottom: 2rem;
    width: 21.25rem;
  }
}

.radio-btn label,
input[type=radio] {
  border-radius: 50%;
  width: 2.625rem;
  height: 2.625rem;
}
@media (min-width: 28rem) {
  .radio-btn label,
input[type=radio] {
    font-size: 1.5rem;
    width: 3.1875rem;
    height: 3.1875rem;
  }
}

.radio-btn label {
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(215, 12%, 60%);
  background-color: hsl(213, 19%, 18%);
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  position: relative;
}

input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  position: absolute;
}
input[type=radio]:checked + label {
  background-color: hsl(221, 12%, 48%);
  color: hsl(0, 0%, 100%);
}
input[type=radio]:hover + label {
  background-color: hsl(20, 100%, 41%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.container {
  border-radius: 15px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, hsl(215, 20%, 17%) 0%, hsl(216, 24%, 12%) 100%);
  margin: auto;
  padding-inline: 1.5rem;
  max-width: 21.45rem;
}
@media (min-width: 28rem) {
  .container {
    max-width: 25.75rem;
    padding-inline: 2.5rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: auto;
  margin-bottom: auto;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.icon {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: hsl(213, 19%, 18%);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
}
@media (min-width: 28rem) {
  .icon {
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.875rem;
  }
}

.icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.survey__heading {
  margin-bottom: 0.625rem;
  width: 17.5rem;
}
@media (min-width: 28rem) {
  .survey__heading {
    margin-bottom: 0.4375rem;
    width: 21.25rem;
  }
}

.rating-followup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2.125rem;
}
@media (min-width: 28rem) {
  .rating-followup {
    padding-top: 2.8125rem;
  }
}

.rating-followup img {
  margin-bottom: 1.5rem;
  width: 9rem;
}
@media (min-width: 28rem) {
  .rating-followup img {
    margin-bottom: 2rem;
    width: 10.125rem;
  }
}

.user-feedback {
  border-radius: 22.5px;
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(25, 97%, 53%);
  line-height: 1.57;
  background-color: hsl(213, 19%, 18%);
  margin-bottom: 1.5rem;
  padding: 5px 12px;
}
@media (min-width: 28rem) {
  .user-feedback {
    font-size: 0.9375rem;
    line-height: 1.6;
    padding: 4px 20px;
  }
}

.message {
  text-align: center;
}

.message__heading {
  margin-bottom: 0.625rem;
}

.message__text {
  margin-bottom: 2.3125rem;
}

.attribution {
  text-align: center;
  width: 100%;
}
.attribution a {
  color: hsl(25, 97%, 53%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(0, 0%, 100%);
}

/*# sourceMappingURL=style.css.map */
