// ___________________________________________________________________
// Footer
// ___________________________________________________________________

.attribution {
  background: none;
  padding: .5rem 0;
  text-align: center;
  height: 4rem;
  width: 100%;

  a {
    color: $halloween;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  } 
}
