// ___________________________________________________________________
// Footer
// ___________________________________________________________________

.attribution {
  text-align: center;
  width: 100%;

  a {
    color: $halloween;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  } 
}
