// ___________________________________________________________________
// Main - Section Styles
// ___________________________________________________________________

.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: auto;
  margin-bottom: auto;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.icon {
  @include rounded($radius: 50%);
  @include size($width: 2.5rem);
  background-color: $dark-blue;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  position: relative;

  @media #{$brkpoint-md} {
    @include size($width: 3rem);
    margin-top: 2rem;
    margin-bottom: 1.875rem;
  }
}

.icon img {
  @include position($position: absolute, $top: 50%, $left: 50%);
  transform: translate(-50%, -50%);
}

.survey__heading {
  margin-bottom: .625rem;
  width: 17.5rem;

  @media #{$brkpoint-md} {
    margin-bottom: .4375rem;
    width: 21.25rem;
  }
}

.rating-followup { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2.125rem;

  @media #{$brkpoint-md} {
    padding-top: 2.8125rem;
  }
}

.rating-followup img {
  margin-bottom: 1.5rem;
  width: 9rem;

  @media #{$brkpoint-md} {
    margin-bottom: 2rem;
    width: 10.125rem;
  }
}

.user-feedback {
  @include rounded(22.5px);
  @include text($text__default, $font-weight--regular, $halloween);
  line-height: $line__default;
  background-color: $dark-blue;
  margin-bottom: 1.5rem;
  padding: 5px 12px;

  @media #{$brkpoint-md} {
    @include text($textL);
    line-height: $lineL;
    padding: 4px 20px;
  }
}

.message {
  text-align: center;
}

.message__heading {
  margin-bottom: 0.625rem;
}

.message__text {
  margin-bottom: 2.3125rem;
}
