// ___________________________________________________________________
// Button Links
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.btn {
  @include rounded(22.5px);
  @include text($text__default, $font-weight--bold, $white);
  border: none;
  cursor: pointer;
  font-family: $font-family--primary;
  letter-spacing: 1.87px;
  line-height: $lineL;
  min-width: 17.5rem;
  padding: .75rem 6.75rem;
  text-transform: uppercase;

  @media #{$brkpoint-md} {
    @include text($textL);
    letter-spacing: 2px;
    line-height: $lineM;
    min-width: 21.25rem;
    padding: .6875rem 8.625rem;
  }
}

.submit-btn {
  background-color: $color-btn-primary;
  margin-bottom: 2rem;

  &:hover {
    background-color: $white;
    color: $orange;
    transition: all 0.3s ease 0s;
  }

   &:focus {
    outline: 2px auto Highlight;
    outline: 2px auto -webkit-focus-ring-color;
  }
}
