// ___________________________________________________________________
// Form Legend, Inputs, and Labels
// ___________________________________________________________________

.survey__text {
  @include text($text__default, $font-weight--regular, $color-text);
  line-height: $line__default;
  margin-bottom: 1.5rem;
  padding: 0;
  width: 280px;
}

.form-group-rating {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 17.5rem;

  @media #{$brkpoint-md} {
    margin-bottom: 2rem;
    width: 21.25rem;
  }

}

.form-group-rating label {
  @include text($text__default, $font-weight--regular, $medium-gray);
  @include rounded(50%);
  @include size($width: 2.625rem);
  background-color: $dark-blue;
  padding-top: .85rem;
  text-align: center;

  @media #{$brkpoint-md} {
    @include text($textXL);
    @include size($width: 3.1875rem);
    padding-top: .75rem;
  }
}

input[type="radio"] {
  opacity: 0;
  position: fixed;

  &:focus + label {
    outline: 2px auto Highlight;
    outline: 2px auto -webkit-focus-ring-color;
  }

  &:checked + label {
    background-color: $medium-gray--checked;
    color: $white;
  }

  & + label:hover {
    background-color: $orange;
    color: $white;
    cursor: pointer;
  }
}
