// ___________________________________________________________________
// Form Legend, Inputs, and Labels
// ___________________________________________________________________

.survey__text {
  @include text($text__default, $font-weight--regular, $color-text);
  line-height: $line__default;
  margin-bottom: 1.5rem;
  padding: 0;
  width: 280px;
}

.form-group-rating {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 17.5rem;

  @media #{$brkpoint-md} {
    margin-bottom: 2rem;
    width: 21.25rem;
  }

}

.radio-btn label,
input[type="radio"] {
  @include rounded(50%);
  @include size($width: 2.625rem);

  @media #{$brkpoint-md} {
    @include text($textXL);
    @include size($width: 3.1875rem);
  }
}

.radio-btn label {
  @include text($text__default, $font-weight--regular, $medium-gray);
  background-color: $dark-blue;
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  position: relative;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  position: absolute;

  &:checked + label {
    background-color: $medium-gray--checked;
    color: $white;
  }

  &:hover + label {
    background-color: $orange;
    cursor: pointer;
    color: $white;
  }
}
