// ___________________________________________________________________
// Base Styles
// ___________________________________________________________________

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-bg-main;
  font-family: $font-family--primary;
  margin: 0;
  padding: 0;
}

h1, 
h2, 
p,
fieldset {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  @include text($heading__mobile, $font-weight--bold, $white);
  line-height: $lineM;

  @media #{$brkpoint-md} {
    @include text($headingL);
  }
}

p {
  @include text($text__default, $font-weight--regular, $color-text);
  line-height: $line__default;

  @media #{$brkpoint-md} {
    @include text($textL);
    line-height: $lineL;
  }
}

fieldset {
  border: none;
}
